body {
	background: black;
	width: 100%;
	height: 100%;
}
#page-content {
	background: white;
	margin: 0 auto;
	width: 95%;
	height: 90%;
}
header {
	text-align: center;
	height: 100px;
	font-family: 'Anton', sans-serif;
	font-size: 80px;
	padding-bottom: 20px;
}
#canvas {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
#button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
}
.button {
	border: none;
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s;
	font-family: 'Anton', sans-serif;
	font-size: 20px;
}
#vertical-line {
	height: 23px;
	border-right: 2px solid black;
	padding-right: 6px;
}
.button:hover {
	color: #57F065;
}
.refresh-button {
	display: block;
	margin: 0 auto;
	border: none;
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s;
	font-family: 'Anton', sans-serif;
	size: 20px;
	text-align: center;
	padding-bottom: 10px;
	color: #7F8C8D;
}
.refresh-button:hover {
	color: #CCD1D1;
}
